:root {
    --color-primary-a0: #ffffff;
    --color-primary-a10: #d9c8fe;
    --color-primary-a20: #b093fb;
    --color-primary-a30: #8060f6;
    --color-primary-a50: #382bf0;
    --color-primary-a60: #3223ae;
    --color-primary-a70: #291b71;
    --color-primary-a80: #1b1239;
    --color-primary-a90: #000000;

    --color-alt-a0: #ffffff;
    --color-alt-a10: #e9cbec;
    --color-alt-a20: #d298d8;
    --color-alt-a30: #b864c4;
    --color-alt-a50: #9c27b0;
    --color-alt-a60: #732381;
    --color-alt-a70: #4d1c55;
    --color-alt-a80: #29142c;
    --color-alt-a90: #000000;

    --board-cols-count: 30;
    --board-rows-count: 30;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-size: 20px;
    font-family: 'Exo 2', Arial, Helvetica, sans-serif;
    line-height: 1.5em;
}

#metrics {
    position: fixed;
    top: 1em;
    left: 1em;
    color: #b093fb;
    font-size: 0.5em;
}

main {
    min-width: 100vw;
    min-height: 100vh;
    background: var(--color-primary-a20);
    background: linear-gradient(135deg,
            var(--color-primary-a50) 0%,
            var(--color-primary-a20) 50%,
            var(--color-alt-a30) 100%);
    display: flex;
    justify-content: center;
}

#gamefield {
    display: grid;
    grid-template-columns: repeat(var(--board-cols-count), min(90vw / var(--board-cols-count), 90vh / var(--board-rows-count)));
    align-content: center;
}

#gamefield-canvas {
    display: flex;
    justify-content: center;
    align-items: center;
}

#gamefield-canvas canvas {
    width: 90vw;
    height: 90vh;
    object-fit: contain;
    opacity: 0.7;
    image-rendering: crisp-edges;
    cursor: crosshair;
}

.cell {
    background: var(--color-primary-a30);
    font-size: 0.2rem;
    display: block;
    border: 0;
    aspect-ratio: 1 / 1;
    opacity: 0.8;
    border-radius: 20%;
    transition: all 0.3s;
}

.cell.alive {
    background: var(--color-alt-a80);
}

#controls {
    position: fixed;
    top: 1rem;
    right: 1rem;
    display: grid;
    gap: 0.5rem;
    max-height: calc(100vh - 1rem);
    overflow-y: scroll;
    box-sizing: border-box;
    padding-bottom: 1em;
    transition: all 0.3s ease-out;
}

#controls #showhide {
    margin-bottom: 1rem;
    transition: all 0.3s ease-out;
}

#controls #showhide svg {
    transition: all 0.3s ease-out;
}

#controls.hidden {
    transform: translateX(calc(100% - 1em));
    padding-left: 2em;
    opacity: 0.5;
}

#controls.hidden #showhide {
    transform: translateX(-2em);
}

#controls.hidden #showhide svg {
    transform: rotateY(180deg);
}

#controls button {
    background: var(--color-primary-a50);
    border: 0;
    outline: 0;
    box-sizing: border-box;
    padding: 0.5rem;
    border-radius: 0.25rem;
    color: var(--color-alt-a10);
    display: flex;
    gap: 0.4em;
    align-items: center;
    cursor: pointer;
    transition: all 0.15s;
    min-width: 10rem;
}

#controls button svg.running {
    opacity: 0;
    transition: opacity 0.3s;
}

#controls button:hover {
    background: var(--color-primary-a60);
}

#controls button:active {
    background: var(--color-primary-a70);
}

#controls button:disabled {
    opacity: 0.5;
    cursor: default;
}

#controls button:disabled svg.running {
    opacity: 1;
}

button svg {
    width: 1.25em;
    height: 1.25em;
}

#settings {
    display: flex;
    flex-direction: column;
    color: var(--color-primary-a50);
    background: var(--color-alt-a10);
    border-radius: 0.25rem;
    opacity: 0.8;
}

#settings label {
    display: grid;
    grid-template-columns: 1fr 4em;
    box-sizing: border-box;
    padding: 0.5rem;
    margin: 0;
    gap: 1em;
}

#settings input {
    color: var(--color-primary-a50);
    background: transparent;
    border: 0;
    outline: 1px solid var(--color-alt-a30);
    border-radius: 0.25em;
    padding: 0.1em 0.4em;
    box-sizing: border-box;
}

#speed-label {
    display: grid;
    grid-template-columns: 1fr 10em;
    column-gap: 1em;
}